.contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 25px;
	padding-top: 25px;
	margin-top: 50px;

}

.list {
	font-size: .8em;
}

.list:first-line {
	color:blue;
}

ul > li { 
	margin: 25px 25px 5px 0; 
}